<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>adminpage</title>
</head>
<body>
<h1> AdminPage </h1>

{% for user in users %}
    <div>
        <p>id: {{ user.id }}</p>
        <p>name: {{ user.name }}</p>
    </div>
    <hr>
{% endfor %}

</body>
</html>