{% extends 'adminpage/base.html' %}

{% block content %}
  <main class="pt-5 max-lg-5">
      <div class="container-fluid mt-5">
        <div class="row wow fadeIn">
          <div class="col-md-6 mb-4">
            <div class="card">
              <div class="card body">
                <table class="table table-hover">
                  <tbody>
                    <tr>
                      <th>Email</th>
                      <th>{{user.email}}</th>
                    </tr>
                    <tr>
                      <th>Username</th>
                      <th>{{user.username}}</th>
                    </tr>
                    <tr>
                      <th>Balance</th>
                      <th>{{user.balance}}</th>
                    </tr>
                    <tr>
                      <th>Credit card</th>
                      <th></th>
                    </tr>
                    <tr>
                      <th>Operations</th>
                      <td><a href="/operations">operations link</a></td>
                    </tr>
                    <tr>
                      <th>Actions</th>
                      <td><a href="/actions">actions link</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card">
              <div class="card body">
                <table class="table table-hover">
                  <thead class="blue-grey lighten-4">
                    <tr>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>Computer name</th>
                      <th>MyFancyComp</th>
                    </tr>
                    <tr>
                      <th>Status</th>
                      <th>Working</th>
                    </tr>
                    <tr>
                      <th>Characteristics</th>
                      <th>8 Gb</th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button onclick="window.location='change/{{user.pk}}';" class="btn btn-primary btn-block">change this user</button>

    </main>

{% endblock %}

