{% extends 'adminpage/base.html' %}

{% block content %}

    <main class="pt-5 max-lg-5">
      <div class="container-fluid mt-5">
        <div class="row wow fadeIn">
          <div class="col-md-6 mb-4">
            <div class="card">
              <div class="card body">

                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for email..">

                <table class="table table-hover searchable sortable", id="users">
                  <thead class="blue-grey lighten-4">
                    <tr>
                      <th data-type="email" >Email</th>
                      <th data-type="balance">Balance</th>

                    </tr>
                  </thead>
                  <tbody>
                    {% for user in users%}
                        <tr onclick="window.location='{{user.pk}}';">
                          <th>{{user.email}}</th>
                          <th>{{user.balance}}</th>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <form action="" method="post">
              {% csrf_token %}


              {{ new_user_form.non_field_errors }}
            <div class="fieldWrapper">
                {{ new_user_form.email.errors }}
                <label for="{{ new_user_form.email.id_for_label }}">Set email:</label>
                {{ new_user_form.email }}
            </div>
            <div class="fieldWrapper">
                {{ new_user_form.balance.errors }}
                <label for="{{ new_user_form.balance.id_for_label }}">Set balance:</label>
                {{ new_user_form.balance }}
            </div>
            <div class="fieldWrapper">
                {{ new_user_form.new_password.errors }}
                <label for="{{ new_user_form.new_password.id_for_label }}">Set new password:</label>
                {{ new_user_form.new_password }}
            </div>

              <button type="submit" id="id_add_user" class="btn btn-primary btn-block"> add user </button>
            </form>
          </div>
        </div>
      </div>
    </main>

    <script>

        users.onclick = function(e) {
          if (e.target.tagName != 'TH') return;

          let th = e.target;
          // if TH, then sort
          // cellIndex is the number of th:
          //   0 for the first column
          //   1 for the second column, etc
          sortGrid(th.cellIndex, th.dataset.type);
        };

        function sortGrid(colNum, type) {
          let tbody = users.querySelector('tbody');

          let rowsArray = Array.from(tbody.rows);

          // compare(a, b) compares two rows, need for sorting
          let compare;

          switch (type) {
            case 'number':
              compare = function(rowA, rowB) {
                return rowA.cells[colNum].innerHTML - rowB.cells[colNum].innerHTML;
              };
              break;
            case 'string':
              compare = function(rowA, rowB) {
                return rowA.cells[colNum].innerHTML > rowB.cells[colNum].innerHTML ? 1 : -1;
              };
              break;
          }

          // sort
          rowsArray.sort(compare);

          tbody.append(...rowsArray);
        }
      </script>


      <script>
        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("users");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("th")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
      </script>

{% endblock %}